.footer {
    background-color: black;
    color: white;
}

.footer-content {
    display: flex;
}

.footer-logo {
    margin-left: 7rem;
    text-align: left;
}

.footer-navigation {
    margin-left: 5rem;
    text-align: left;
}

.footer-download {
    margin-left: 3rem;
    margin-right: 7rem;
    text-align: left;
}

.footer-download-image {
    display: flex
}

.footer-gplay {
    height: 5rem;
    width: 8rem;
}

.footer-app {
    width: 8rem;
    height: 5rem;
}

.footer-facebook {
    width: 3rem;
    height: 3rem;
}

.footer-friendster {
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
}

.footer-gplus {
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
}

.footer-copyright {
    background-color: black;
    color: white;

}