.homepage-category {
    text-align: left;
    margin-top: 2rem;
    margin-left: 2rem;
    color: #8C8989;
    font-weight: bolder;
}

.homepage-category-button {
    display: flex;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.homepage-category-button button {
    background-color: transparent;
    color: gray;
    font-weight: bolder;
    border-radius: 50px;
    width: 7rem;
    border: none;
    margin-left: 2rem;
        &:hover{
            cursor: pointer;
        }
        &:focus {
            background-color: #EB507F;
            color: white;
            border: none;
            padding:0;
            outline:0;
        }
}

.homepage-content-1 {
    display: flex;
    margin-left: 18rem;
}

.homepage-content-1 img {
    width: 8rem;
    height: 14rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.homepage-content-2 {
    display: flex;
    margin-left: 18rem;
}

.homepage-content-2 img {
    width: 8rem;
    height: 14rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.homepage-content-3 {
    display: flex;
    margin-left: 18rem;
}

.homepage-content-3 img {
    width: 8rem;
    height: 14rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
}